*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;

}
body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 line-height: 1.5em;
}
img{
 max-width: 100%;
}
header{
 background: lavenderblush;
 padding: 2.5%;
}
header img{
 width: 250px;
 margin:0 auto;
 display: block;
}
#main_menu{
 margin-top: 10px;
list-style: none;
 text-align: center;
}
#main_menu li{
 margin: 0 5px 10px;
 display: inline-block;
}
#main_menu a{
 background-color: lavender;
 color: #000;
 padding: 5px 8px;
 text-decoration: none;
}
section{
 display: flex;
 background: lavender;
}
div{
 padding: 20px;
 width: 60%;
}
div h1,h2,h3{
 margin-top: 10px;
 margin-bottom: 20px;
}
aside{
 padding: 20px;
 width: 40%;
}
aside ul{
 margin-left: 20px;
 margin-top: 10px;
}
#footer_menu{
 background: #fff0f5;
}
footer{
 background: #fff0f5;
 padding: 20px;
 text-align: center;
}
footer p{
 font-size: 12px;
}
